nav {
  position: absolute;
  justify-content: space-between;
  align-items: center;

  top: 0;
  padding: 1.2rem;
  width: 100%;
}

.landpage {
  position: relative;
  height: 100vh;
  align-items: center;
  justify-content: space-evenly;
}

.right-misc {
  height: 80vh;
  width: 60vw;
  object-fit: cover;
  transform: translateX(50px) translateY(50px);

  border-radius: 50px 0 0 50px;
  overflow: hidden;
}
.right-misc img {
  height: 100%;
  width: 100%;
}

/* .landname {
  height: 300px;
  width: 600px;
  position: absolute;
  top: 33%;
  left: 50px;
  border: 2px solid blue;
} */

.cgkg {
  font-size: 10rem;
  word-spacing: -1rem;
  position: relative;
  z-index: 2;
  padding-inline: 1.2rem;
  width: 500px;
  height: 250px;
  transform: translateY(50px);
}
.cgkg-nav {
  font-size: 2rem;
  word-spacing: -1rem;
  position: relative;
  z-index: 2;
}
.navname {
  height: 150px;
}
.navname span {
  padding-inline: 0.5rem;
  margin-inline: 0.5rem;
}
.cgkg-mini {
  font-size: 1.5rem;
  word-spacing: 0.4rem;
  position: relative;
  z-index: 2;
  padding-inline: 5px;
  transform: translateY(-40px);
}
.cgkg-mini-nav {
  font-size: 0.85rem;
  word-spacing: 0.4rem;
  position: relative;
  z-index: 2;
  padding-inline: 5px;
  transform: translateY(-40px);
}

/* --------------------------- */
.boardpage {
  min-height: 100vh;
  padding: 2rem;
  position: relative;
}

.sector {
  position: relative;
  height: 100vh;
  width: 100%;
}
.cardbox img {
  height: 400px;
  width: 400px;
  margin-inline: 5px;
  z-index: 5;
}
.card {
  width: 500px;
  height: 400px;
  border-radius: 40px;
  margin-inline: 5px;
  z-index: 3;
  font-family: var(--ff-br);
  font-size: 3rem;
  font-weight: 700;

  display: flex;
  justify-content: center;
  align-items: center;
}
.cardbox {
  position: absolute;
  padding: 10px;
  width: min-content;
}
#cb1 {
  left: 5%;
}
#cb2 {
  left: 20%;
  flex-direction: row-reverse;
}
#cb3 {
  right: 5%;
}
#c1 {
  transform: rotate(3deg);
}
#i1 {
  transform: rotate(-2deg);
}
#c2 {
  transform: rotate(-3.2deg);
}
#i2 {
  transform: rotate(4.3deg);
}
#c3 {
  transform: rotate(4deg);
  margin: 1.2rem;
}
#i3 {
  transform: rotate(-2.5deg);
}

.dotted {
  height: 450px;
  width: 450px;
  position: absolute;
  right: 0;
}
#dot1 {
  bottom: -30%;
  right: 10%;
  transform: rotate(-45deg);
}

#dot2 {
  bottom: -45%;
  left: 5%;
  transform: rotate(45deg);
  z-index: 2;
}
/* ------------------------ */
.miscarea {
  position: relative;
  height: 50vh;
}
/* ---------------------------- */
.carousel-cell {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* cell number */
.carousel-cell:before {
  display: block;
}

.gallery {
  height: 90vh;
  width: 100vw;
  justify-content: space-evenly;
}

.carousel {
  height: 50vh;
  width: 50vw;
  padding: 2rem;
}

.carousel img {
  height: 50vh;
  width: auto;
}
/* ---------------------------- */
footer {
  position: relative;
}
#btmwave {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(180deg);
}

section {
  margin-bottom: 10rem;
}
